h1 {
    color: rgb(182, 125, 125);
}
li {
    color: blue;
}
#place-title {
    background: rgb(34, 34, 96);
}
.imp-place {
    color: brown;
}
.place-container li {
    color: rgb(8, 77, 215);
}
.home-page{
    text-align: justify;
    padding: 20px;
}